/* ==========================================================
   ALESSI LONGA APARTMENTS
   STYLE.CSS
========================================================== */

/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Inter',sans-serif;
    background:#ffffff;
    color:#333;
    overflow-x:hidden;
}

img{
    display:block;
    max-width:100%;
}

a{
    text-decoration:none;
    color:inherit;
}

ul{
    list-style:none;
}

/* COLORS */

:root{

    --white:#ffffff;
    --black:#181818;
    --text:#4f4f4f;
    --gold:#a88455;
    --background:#faf8f4;

}

/* ==========================================================
   HERO
========================================================== */

.hero{

    position:relative;

    width:100%;

    height:100vh;

    min-height:820px;

    background-image:url(hero.jpg);

    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;

}

/* overlay */

.overlay{

    position:absolute;

    inset:0;

    background:rgba(0,0,0,.28);

}

/* ==========================================================
   NAVBAR
========================================================== */

header{

    position:absolute;

    width:100%;

    top:0;

    left:0;

    z-index:999;

}

.navbar{

    max-width:1450px;

    margin:auto;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:35px 60px;

}

.logo img{

    width:230px;

}

.menu{

    display:flex;

    gap:42px;

}

.menu a{

    color:white;

    font-size:14px;

    letter-spacing:2px;

    text-transform:uppercase;

    font-weight:500;

    transition:.25s;

}

.menu a:hover{

    color:#ececec;

}

/* ==========================================================
   HERO TEXT
========================================================== */

.hero-content{

    position:absolute;

    left:50%;

    top:50%;

    transform:translate(-50%,-50%);

    text-align:center;

    width:100%;

    padding:20px;

    z-index:20;

}

.small-title{

    color:white;

    letter-spacing:6px;

    text-transform:uppercase;

    font-size:14px;

    margin-bottom:20px;

}

.hero h1{

    color:white;

    font-family:'Cormorant Garamond',serif;

    font-size:84px;

    font-weight:500;

    line-height:.95;

    margin-bottom:20px;

}

.hero p{

    color:white;

    font-size:22px;

    font-weight:300;

    max-width:720px;

    margin:auto;

}
